@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    user-select: none;
    padding: 0;
    margin: 0;
}
.path {
    stroke-width: 1.5; 
    fill-opacity: 1; 
    stroke: rgb(255, 255, 255);
    stroke-opacity: 1; 
    opacity: 1;
    cursor: pointer;
}
.path:hover {
    stroke: rgb(54, 54, 54);
    stroke-width: 2; 
}
.text {
    fill: rgb(66, 66, 66); 
    fill-opacity: 1;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    pointer-events: none;
}

.text-scale {
    fill: rgb(66, 66, 66); 
    fill-opacity: 1; 
    font-family: 'Roboto', sans-serif;
}

.tooltip {
    pointer-events: none;
}